@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');


body {
  text-align: center;
  background-color: #009ff5;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

h1 {
  font-size: 7rem;
  color: #e8e8e8;
  font-family: "PT Sans Narrow", cursive;
  text-shadow: 3px 0 #404b69;

}

footer {
  color: #DBEDF3;
  font-family: "PT Sans Narrow";
}

.set {
  margin: 5% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 4rem;
  font-family: 'PT Sans Narrow', cursive;
  line-height: 2;
  font-weight: 900;
  color: #045ada;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 50%/50%;
  display: inline-block;
  width: 120px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}